header {
  background-color: #ffc017;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  /* animation of navbar */
  transition: background-color 300ms ease, box-shadow 300ms ease;
}

/*  M animation - transition */
/* svg .m {
  transition: opacity 0.4s ease;
} */

header.white {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

header.white .regular-btn {
  background-color: green;
}

header img {
  width: 200px;
}

body,
button {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 5rem;
}

.header-btns-wrapper {
  display: flex;
  gap: 1em;
}

button {
  cursor: pointer;
}
button.invisible-btn {
  border: none;
  background-color: transparent;
}
button.regular-btn {
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 0.5em 1em;
}

/* HERO - YELLOW PART */
.hidden-mobile {
  display: none;
}
.hero {
  height: 400px;
  background-color: #ffc017;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
}

.hero-text button.regular-btn {
  justify-self: flex-start;
  font-size: 1.15rem;
  padding-inline: 1.75em;
  border-radius: 30px;
}

/* SECTION - TRENDING ON MEDIUM */
section.trending-section {
  padding: 1.5em;
  border-bottom: solid 2px #eceded;
}

section.trending-section > p {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 0.5em;
  margin-bottom: 1em;
}

section.trending-section > p > img {
  height: 40px;
}

section #trending-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
section .trending-item {
  display: flex;
  margin-bottom: 2em;
}

.number-of-item {
  align-self: baseline;
  font-size: 40px;
  font-weight: 900;
  opacity: 0.2;
  margin-right: 0.5em;
}

.trending-item p img {
  border-radius: 50%;
  margin-right: 0.5em;
  width: 25px;
}

.trending-item-writer {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;
}

.gray-text {
  opacity: 0.4;
}

.trending-item-title {
  font-weight: 600;
  font-size: 1.4rem;
  padding-block: 0.5em;
}

.trending-specs {
  font-weight: 500;
}

/* ARTICLE - DISCOVER SECTION */

article {
  margin-top: 3em;
  padding-inline: 1.5em;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

article > div {
  order: 1;
}
h5 {
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 1.5px;
}
#discover-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1.5em;
}

.discover-tag {
  border: 1px solid #c0bebdb2;
  padding: 0.75em 1.25em;
  color: #878380dc;
  font-weight: 600;
}
.featured-articles-wrapper {
  order: 1;
}

article ul {
  display: flex;
  list-style: none;
  gap: 1em;
  padding-top: 3em;
  margin-top: 3em;
  border-top: solid 2px #d3d3d3;
  flex-wrap: wrap;
  margin-right: 2em;
}

.article-item {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  padding-block: 1em;
}
.article-item > img {
  width: 200px;
  height: auto;
  align-self: center;
}

.article-writer {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 1em;
  margin-bottom: 1em;
}

.article-writer img {
  border-radius: 50%;
  width: 30px;
}

.article-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1em;
}

.article-text {
  position: relative;
  width: 100%;
}

.article-specs {
  margin-top: 1em;
  display: flex;
  align-items: center;

  gap: 0.5em;
}
.bookmark-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.tag {
  background-color: lightgray;
  border-radius: 20px;
  padding: 6px 10px;
}
/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
  .hidden-mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .trending-item {
    display: flex;
    width: 33%;
  }
  section #trending-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  header,
  .hero,
  section.trending-section,
  article {
    padding-inline: 15em;
  }
  .trending-item-text {
    margin-right: 2em;
  }
  section .trending-item {
    width: 33%;
  }

  section.trending-section {
    margin-right: 0;
  }

  article ul {
    padding-top: 3em;
    margin-top: 3em;
    border-top: solid 2px #d3d3d3;
    flex-wrap: wrap;
    max-width: 425px;
  }

  article > div {
    width: 40%;
    order: 2;
  }
  article {
    flex-direction: row;
  }

  .featured-articles-wrapper {
    width: 65%;
  }
}
